@{
}

@model DBTestCreator_1.ViewModels.RegDoctorModel
@using System.Security.Claims

<form asp-controller="Doctor" asp-action="Info">
    <h6>Doctor information</h6>
    @{ if (Model is null)
        {
            <p>@ViewBag.Message</p>
        }
        else
        {
            <div>
                <label>Full Name : </label>
                <label>@Model.FName @Model.LName</label><br />
                <label>Position : </label>
                <label>@Model.Position</label><br />
                <label>Department : </label>
                @foreach(var d in ViewBag.Deps)
                {
                    if(Model.Department == d.Id)
                    {
                        <label>@d.Name</label><br />
                        break;
                    }
                }
                <label>Area : </label>
                @foreach(var a in ViewBag.Areas)
                {
                    if(Model.Area == a.Id)
                    {
                        <label>@a.Name Room No.--> @a.RoomNumber</label><br />
                        break;
                    }
                }
            </div><br />
            
            @if (User.IsInRole("Patient"))
            {
                <button asp-controller="Visit" asp-action="CreateReservationPatientForm" asp-route-docItem="@Model.Id">Visit reservation</button>
            }

        }
    }
</form>
