@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model DBTestCreator_1.ViewModels.RegDoctorModel

<form asp-controller="Doctor" asp-action="Remove" method="post">
    <h6>Delete this Doctor ?</h6>
    <div>
        <label>Name : </label>
        <label>@Model.FName</label><br />
    </div>
    <div>
        <label>Last Name : </label>
        <label>@Model.LName</label><br />
    </div>
    <div>
        <label>Age : </label>
        <label>@Model.Age</label><br />
    </div>
    <div>
        <label>Code : </label>
        <label>@Model.Code</label><br />
    </div>
    <div>
        <label>Hired Date : </label>
        <label>@Model.HiredDate.ToShortDateString()</label><br />
    </div>
    <div>
        <label>Department : </label>
        @foreach(var dep in ViewBag.Deps)
        {
            if(Model.Department == dep.Id)
            {
                <label>@dep.Name</label><br />
                break;
            }
        }
    </div>
    <div>
        <label>Area : </label>
        @foreach(var ar in ViewBag.Areas)
        {
            if(Model.Area == ar.Id)
            {
                <label>@ar.Name</label><br />
                break;
            }
        }
    </div>
    <input type="submit" value="Delete" />
</form>
