@{
}

@using DBTestCreator_1.ViewModels

@model IEnumerable<PatientModel>

<h6>My Patients</h6>
<form asp-controller="Doctor" asp-action="ShowMyPatients">
    <table border="1">
        <thead>
            <tr>
                <td>Full Name</td>
                <td>Age</td>
                <td>Status</td>
                <td>Date of Birth</td>
                <td>Area</td>
                <td>Detailes</td>
            </tr>
        </thead>
        <tbody>
            @{
                @foreach(var pat in Model)
                {
                    <tr>
                        <td>@pat.FName @pat.LName</td>
                        <td>@pat.Age</td>
                        <td>@pat.EnumStatus</td>
                        <td>@pat.BDate.ToShortDateString()</td>
                        @foreach(var area in ViewBag.Areas)
                        {
                            if(pat.AreaId == area.Id)
                            {
                                <td>@area.Name --> @area.RoomNumber</td>
                                break;
                            }
                        }
                        <td><a asp-controller="Patient" asp-action="Detailes" asp-route-id="@pat.Id">Info...</a></td>
                    </tr>
                }
                        }
        </tbody>
    </table>
</form>
