@model PatientViewModel

<h6>Patient detailes</h6>
<form>
    <div>
        <label>First Name : </label>
        <label>@Model.FName</label><br />
        <label>Last Name : </label>
        <label>@Model.LName</label><br />
        <label>Email :</label>
        <label>@ViewBag.Email</label><br />
        <label>Age : </label>
        <label>@Model.Age</label><br />
        <label>Date of Birth : </label>
        <label>@Model.BDate.ToShortDateString()</label><br />
        <label>Status : </label>
        <label>@Model.EnumStatus</label><br />
        <label>Area : </label>
        @{
            @foreach (var area in ViewBag.Areas)
            {
                if (area.Id == Model.AreaId)
                {
                    <label>@area.Name</label><br />
                    <label>Room No : </label>
                    <label>@area.RoomNumber</label><br />
                    break;
                }
            }

        }
        <label>City : </label>
        <label>@ViewBag.Address.City</label><br />
        <label>Street : </label>
        <label>@ViewBag.Address.Street</label><br />
        <label>House No : </label>
        <label>@ViewBag.Address.HouseNo</label>
    </div>
</form>