@using Nedelko.Polyclinic.Enums
@model IEnumerable<Patient>

<form asp-controller="Patient" asp-action="Show">
    @{
        if (Model.Count() != 0)
        {
            <h6>Patient List :</h6>
            <table border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Status</th>
                        <th>Area</th>
                        @if (User.IsInRole("Doctor"))
                        {
                            <th>Detailes</th>
                            <th>Create Visit</th>
                            <th>Create Reservation</th>
                        }

                        @if (User.IsInRole("Administrator"))
                        {
                            <th>Edit</th>
                            <th>Remove</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model)
                    {
                        <tr>
                            <td>@p.Id.ToString().Substring(0, 5)    </td>
                            <td>@p.FName    </td>
                            <td>@p.LName    </td>
                            <td>@p.Age    </td>
                            @switch (p.Status)
                            {
                                case PatientStatusType.Adult:
                                    <td>Adult    </td>
                                    break;
                                case PatientStatusType.Child:
                                    <td>Child    </td>
                                    break;
                                case PatientStatusType.Pensioner:
                                    <td>Pensioner    </td>
                                    break;
                                case PatientStatusType.Teenager:
                                    <td>Teenager    </td>
                                    break;
                                case PatientStatusType.Unknown:
                                    <td>Unknown     </td>
                                    break;
                            }
                            @foreach (var a in ViewBag.Areas)
                            {
                                if (a.Id == p.AreaId)
                                {
                                    <td>@a.Name --> @a.RoomNumber    </td>
                                }
                            }
                            @if (User.IsInRole("Administrator"))
                            {
                                <td><button asp-controller="Patient" asp-action="Edit" asp-route-id="@p.Id">Edit</button></td>
                                <td><button asp-controller="Patient" asp-action="Remove" asp-route-id="@p.Id">Remove</button></td>
                            }
                            @if (User.IsInRole("Doctor"))
                            {
                                <td><a asp-controller="Patient" asp-action="Detailes" asp-route-id="@p.Id">Detailes</a></td>
                                <td><a asp-controller="Patient" asp-action="Find" asp-route-patientToFind="@p.LName"> New Visit</a></td>
                                <td><a asp-controller="Visit" asp-action="CreateReservationPatientForm" asp-route-id="@p.Id"> New reservation</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h6>Patient List is Empty.</h6>
        }
    }
</form>