@model IEnumerable<Visit>

<form asp-controller="Patient" asp-action="ShowMyVisits">
    <div asp-validation-summary="All"></div>
    <h6>Visits for Patient @ViewBag.PatientName</h6>
    <div>
        @{
            if (Model is not null)
            {
                if (Model.Count() != 0)
                {
                    <table border="1">
                        <thead>
                            <tr>
                                <td>Date of Visit</td>
                                <td>Doctor Name</td>
                                <td>Description</td>
                                <td>Diagnosis</td>
                                <td>Detailes</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var v in Model)
                            {
                                <tr>
                                    <td>@v.Date.ToShortDateString()</td>
                                    @{ foreach (var d in ViewBag.Doctors)
                                        {
                                            if (v.DoctorId == d.Id)
                                            {
                                                <td>@d.FName @d.LName</td>
                                                break;
                                            }
                                        }
                                    }
                                    @if (v.Description.Length < 20)
                                    {
                                        <td>@v.Description</td>
                                    }
                                    else
                                    {
                                        <td>@v.Description.Substring(0, 20)</td>
                                    }
                                    @if (v.Diagnosis.Length < 20)
                                    {
                                        <td>@v.Diagnosis</td>
                                    }
                                    else
                                    {
                                        <td>@v.Diagnosis.Substring(0, 20)</td>
                                    }
                                    <td><a asp-controller="Visit" asp-action="Info" asp-route-id="@v.Id">Info...</a></td>
                                </tr>
                            }
                        </tbody>
                    </table><br />

                }
            }
            else
            {
                <h6>@ViewBag.Message</h6>
            }

        }
    </div>
</form>
