@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model DBTestCreator_1.ViewModels.RegDoctorModel

<h4>Doctor registration form :</h4>
<form asp-controller="Registration" asp-action="DoctorRegistration">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Id">@ViewBag.Id</label>
        <input asp-for="Id" placeholder="@ViewBag.Id" hidden="hidden" />
    </div>
    <div>
        <label asp-for="FName"></label><br />
        <input asp-for="FName" />
        <span asp-validation-for="FName"></span>
    </div>
    <div>
        <label asp-for="LName"></label><br />
        <input asp-for="LName" />
        <span asp-validation-for="LName"></span>
    </div>
    <div>
        <label asp-for="Age"></label><br />
        <input asp-for="Age" />
        <span asp-validation-for="Age"></span>
    </div>
    <div>
        <label asp-for="Code"></label><br />
        <select asp-for="Code" id="CodeSelector">
            <option value="1" selected="selected">Doctor</option>
            <option value="2">Assistent</option>
            <option value="3">Common</option>
            <option value="4">Administrative</option>
        </select><br />
        <span asp-validation-for="Code"></span>
    </div>
    <div>
        <label asp-for="HiredDate"></label><br />
        <input asp-for="HiredDate" />
        <span asp-validation-for="HiredDate"></span>
    </div><br />
          <div id="department">
              <label asp-for="Department"></label><br />
              <select asp-for="Department" name="department">
                  @{ foreach (var d in ViewBag.Deps)
                      {
                          <option value="@d.Id">@d.Name</option>
                      }

                  }
              </select>
              <span asp-validation-for="Department"></span><br />
          </div>
    <div id="area">
        <label asp-for="Area"></label><br />
        <select asp-for="Area" name="area">
            @{ foreach(var a in ViewBag.Areas)
                {
                    <option value="@a.Id">@a.Name</option>
                }

            }
        </select>
        <span asp-validation-for="Area"></span><br />
    </div>


    <input type="submit" value="Register" />
</form>
