@{
}

@model IEnumerable<Doctor>

<form asp-controller="Patient" asp-action="ShowMyDoctors">
    <h6>Doctors of Patient @ViewBag.Patient</h6>
    <div>
        @if (Model is not null)
        {
            <table border="1">
                <thead>
                    <tr>
                        <td>Full Name</td>
                        <td>Age</td>
                        <td>Code</td>
                        <td>Department</td>
                        <td>Area</td>
                        <td>Detailes</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var doc in Model)
                    {
                        <tr>
                            <td>@doc.FName @doc.LName</td>
                            <td>@doc.Age</td>
                            @if(doc.Code == 1)
                            {
                                <td>Doctor</td>
                            }
                            else if(doc.Code == 2)
                            {
                                <td>Assistent</td>
                            }
                            else if(doc.Code == 3)
                            {
                                <td>Common</td>
                            }
                            else
                            {
                                <td>Administrative</td>
                            }
                            <td>@doc.DepartmentId</td>
                            <td>@doc.AreaId</td>
                            <td><a asp-controller="Doctor" asp-action="Info" asp-route-id="@doc.Id">Info...</a></td>
                        </tr>
                    }
                </tbody>
            </table><br />
        }
        else
        {
            @ViewBag.Message
            <br />
        }
    </div>
    <button asp-controller="Home" asp-action="Index">Return</button>

</form>
