@{
}

@model DBTestCreator_1.ViewModels.PrescriptionModel

<h6>Prescription Information</h6>
<form asp-controller="Visit" asp-action="PrescriptionInfo">
    @if (Model is not null)
    {
    <div asp-validation-summary="All"></div>
    <div>
        <label>Patient : @ViewBag.Patient.FName @ViewBag.Patient.LName</label><br />
        <label>Doctor : @ViewBag.Doctor.FName @ViewBag.Doctor.LName</label><br />
        <label asp-for="Cure"></label>
        <label>@Model.Cure</label><br />
        <label asp-for="DateOfPrescription"></label>
        <label>@Model.DateOfPrescription.ToShortDateString()</label><br />
        <label asp-for="ValidTill"></label>
        <label>@Model.ValidTill.ToShortDateString()</label><br />
        <label asp-for="Comments"></label><br />
        <textarea cols="50" rows="5" wrap="soft" disabled="disabled">@Model.Comments</textarea><br />
        <button asp-controller="Visit" asp-action="Info" asp-route-id="@Model.VisitId">Return</button>
    </div>
    }
    else
    {
        <label>@ViewBag.Message</label>
    }
</form>
