@model DoctorViewModel

<form asp-controller="Doctor" asp-action="Edit">
    <h6>Doctor Edit form :</h6>
    <div>
        <label asp-for="FName"></label><br />
        <input asp-for="FName" placeholder="@Model.FName" />
        <span asp-validation-for="FName"></span><br />
    </div><br />
    <div>
        <label asp-for="LName"></label><br />
        <input asp-for="LName" placeholder="@Model.LName" />
        <span asp-validation-for="LName"></span><br />
    </div><br />
    <div>
        <label asp-for="Age"></label><br />
        <input asp-for="Age" placeholder="@Model.Age" />
        <span asp-validation-for="Age"></span>
    </div><br />
    <div>
        <label asp-for="HiredDate"></label><br />
        <input asp-for="HiredDate" placeholder="@Model.HiredDate" />
        <span asp-validation-for="HiredDate"></span>
    </div><br />
    <div id="department">
        <label asp-for="Department"></label><br />
        <select asp-for="Department" name="department">
            @{ foreach (var d in ViewBag.Deps)
                {
                    <option value="@d.Id">@d.Name</option>
                }

            }
        </select>
        <span asp-validation-for="Department"></span><br />
    </div><br />
    <div id="area">
        <label asp-for="Area"></label><br />
        <select asp-for="Area" name="area">
            @{ foreach (var a in ViewBag.Areas)
                {
                    @if (a.Id == Model.Area)
                    {
                        <option value="@a.Id" selected="selected">@a.Name</option>
                    }
                    else
                    {
                        <option value="@a.Id">@a.Name</option>
                    }
                }

            }
        </select>
        <span asp-validation-for="Area"></span><br />
    </div><br />
    <button name="edit" type="submit" value="Edit">Edit</button>
</form>
