@model IEnumerable<VisitViewModel>

<h6>My Visits</h6>
<form asp-controller="Doctor" asp-action="ShowMyVisits">
    @if (Model.Count() != 0)
    {
        <table border="1">
            <thead>
                <tr>
                    <td>Patient</td>
                    <td>Date</td>
                    <td>Detailes</td>
                </tr>
            </thead>
            <tbody>

                @{
                    @foreach (var v in Model)
                    {
                        <tr>
                            @foreach (var p in ViewBag.Patients)
                            {
                                if (v.PatientId == p.Id)
                                {
                                    <td>@p.FName @p.LName</td>
                                    break;
                                }
                            }
                        <td>@v.Date.ToShortDateString()</td>
                        <td><a asp-controller="Visit" asp-action="Info" asp-route-id="@v.Id">Detailes</a></td>
                    </tr>
                }
                }
            </tbody>
        </table>
    }
    else
    {
        @ViewBag.Message
    }
</form>